
.ap-navbar .container-fluid {
	background-color: rgb(206, 0, 0);
}

.ap-navbar .navbar-nav > li > a, .ap-navbar .navbar-nav > li > a:focus {
	color: white;
}
.ap-navbar .navbar-nav > li > a:hover {
	background-color: white;
}

.ap-menu-contactform {
	padding: 20px;
	width: 300px;
}

.ap-rightnav-container {
	position: fixed;
	right: 0px;
	top: 60px;
	width: 300px;
	border: 1px solid #999;
	height: 100%;
	padding: 5px;
	background-color: #efefef;
}

.ap-rightnav-container-hidden {
	display: none;
}
